@font-face{
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf)
}

body{
    margin: 0px;
    padding: 0px;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: Roboto-Bold;
}

/* ================Header css start================== */
.header{
    background-image: linear-gradient(117deg, #093c77, #001731);
}
.header .navbar-brand, .header .navbar-brand:hover{
    line-height: 1;
    color: #fff;
    font-weight: 700;
}
.stakeLogo, .stakeLogo:hover{
    text-decoration: none;
    color: #fff;
}
.header .navbar-toggler-icon {
    background-image: url("../images/toggle.png");
}
.header .nav-link{
    font-weight: 500;
    color: #fff !important;
    margin: 10px 10px;
    font-size: 16px;
    position: relative;
}
.header .nav-link a{
    text-decoration: none;
    color: #fff;
}
/* .header .nav-link:hover{
    box-shadow: inset 0 -3px 0 0 #98fb98;
    color: #98fb98 !important;
} */
.header .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0%;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #98fb98;
    display: block;
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
  }
  
  .header .nav-link:hover::before {
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
  }
.header .nav-link.stake_btn, .header .nav-link.stake_btn:focus{
    width: auto;
    box-shadow: none;
    border: none;
    padding: 7px;
    border-radius: 7px;
    background-color: #98fb98;
    color: #000 !important;
    font-weight: 700;
    letter-spacing: 1px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    box-shadow: 0 0 0px 0 #98fb98 inset, 0 0 2px 0px #98fb98;
    border: 3px solid #98fb98;
}
/* .header .nav-link.stake_btn:hover{
    box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
    border: 3px solid #00d7c3;
} */
.header .nav-link.stake_btn:hover {
    box-shadow: 0 0 0px 0 #00d7c3 inset, 0 0 7px 2px #00d7c3;
    border: 3px solid #7eee8e;
}

/* ================Header css end================== */

/* ================Home css start================== */
.home_section{
    width: 100%;
    min-height: 580px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/hero.jpg");
}
.home_section .content{
    padding-top: 45px;
}
.content .top_head p{
    color: palegreen;
    text-transform: uppercase;
    font-size: 18px;
}
.content .head h1{
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
}
.content .bottom_head h6{
    color: #fff;
    font-size: 23px;
    font-weight: 400;
    margin-top: 30px;
}
.total_token_div{
    margin-top: 28px;
    display: flex;
}
.total_token_div .staked_div{
    width: auto;
    margin-right: 10px;
    padding: 15px 20px 15px;
    border-radius: 8px;
    background-color: rgba(0, 23, 49, 0.85);
    border: 1px solid #122649;
}
.staked_div p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0rem;
}
.staked_div h2{
    font-size: 35px;
    color: palegreen;
}
/* ================Home css end================== */

/* ================Stake Now css start================== */
/* .stakeNow_section{
    background-color: #ffffff;
    background-image: url(https://demo.themovation.com/pursuit/wp-content/uploads/2018/07/network.png);
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 0px;
    position: relative;
}
.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color:#f3f5fd;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
} */



.stakeNow_section{
    padding: 80px 0px;
    background-color: #f3f5fd;
}
.stakeNow_head p{
    font-weight: 400;
    text-align: center;
    font-size: 21px;
    color: #093c77;
}
.stakeNow_title h4{
    text-align: center;
    color: #093c77;
    font-size: 28px;
}
.stake_layer a{
    text-decoration: none;
}
.layerCard_section {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px 0 rgba(0 0 0/20%);
    position: relative;
    transition: transform 200ms ease, -webkit-transform 200ms
}
.layerCard_section:hover{
    filter: saturate(100%);
    transform: scale(1.03);
}
.layerCard_section .token_label{
    background-color: rgba(111, 251, 146, 0.4);
    color: #045804;
    position: absolute;
    left: auto;
    top: 6%;
    right: 3%;
    bottom: auto;
    padding: 1px 5px;
    border-radius: 2px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.layerCard_section .token_name{
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding: 40px 0px;
    color: #333;
}
.layerCard_section .tagline{
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: #093c77;
}
.layerCard_section .tagline .validator{
    font-size: 15px;
    color: #dfe1e4;
    padding: 10px;
    text-transform: uppercase;
}
.layerCard_section .tagline .stake{
    font-size: 15px;
    padding: 10px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
/* ================Stake Now css end================== */

/* ================About Us css start================== */
.aboutUs_section{
    background-color: #f3f5fd;
}
.about_banner{
    width: 100%;
    height: 500px;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/about.jpg");
    background-position-y: center;
    background-size: cover;
   
    
}
/* .about_banner::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
} */
 .about_content{
     color: #fff;
 } 
 .about_title{
     font-size: 40px;
     text-align: center;
     font-weight: 500;
 }
 .about_text_container{
     text-align: center;
    padding: 50px;
    background: #093c77;
    color: #fff;
   margin-top: 50px;
    
 }
 .about_text_container p{
     margin-top: 30px;
 }


/* ================About Us css end================== */

/* ================How It Works css start================== */
.howItWorks_section{
    padding: 70px 0px;
}
.howItWorks_section .head{
    font-weight: 500;
    font-size: 40px;
    text-align: center;
    color: #093c77;
}
.howItWorks_section .text{
    text-align: center;
}
.howItWorks_card{
    padding: 30px;
}
.howItWorks_card .cards{
    display: flex;
}
.howItWorks_card .number{
    font-size: 2rem;
    color: #093c77;
}
.howItWorks_card .card_container{
    padding: 0px 30px;
}
.howItWorks_card .title{
    font-size: 25px;
}
.howItWorks_card .para{
    font-size: 15px;
    color: #6f6f71;
    font-weight: 400;
    padding-top: 10px;
}
.howItWorks_img img{
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* ================How It Works css end================== */

/* ================Contact Us css start================== */
.contactUs_section .title{
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 40px;
}
.contactUs_section{
    padding:50px 0px 70px 0px;
    background-color: #093c77;
}
.contact_container{
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}
.contact_img img{
    height: 489px;
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
}
.contact_form{
    padding: 40px 30px; 
}
.contact_form .send_btn{
    background-color: #093c77;
    border-radius: 3px;
}
.contact_form .send_btn .send{
    color: #fff;
    font-weight: 500;
    
}
/* ================Contact Us css end================== */

/* ================Faq css start================== */
.faq_section{
    padding:70px 0px;
    background-color: #f5f5f5;
}
.faq_title{
    font-size: 40px;
   font-weight: 500;
    color: #093c77; 
}
.faq_content .accordion-item {
    background-color: #fff;
    border: 1px solid rgb(164 197 235);
}
.faq_content .accordion-button:focus{
    box-shadow:none;
    border-color: transparent;
    /* background-color: transparent; */
}
.faq_content .accordion-button:not(.collapsed) {
    color: #011a37;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button::after {
  
    background-image: url("../images/plus-solid.svg");

}
.accordion-button:not(.collapsed)::after {
    background-image: url("../images/minus-solid.svg");
    transform: rotate(0deg);
}
/* ================Faq css end================== */

/* ================Footer css start================== */
.footer_section{
    padding: 50px 0px 20px 0px;
    background-color:#011a37;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../images/World_Map.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    
}
.footer_section .px-50{
    padding: 0px 50px;
}
.footer_section .head{
    font-size: 25px;
    color: #98fb98;
}
.footer_section .stakeLink, .footer_section .companyLink{
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 16px;
    line-height: 1.8;
    text-decoration: none;
    font-weight: 500;
}
.footer_section .stakeLink:hover, .footer_section .companyLink:hover{
    color: #fff;
}
.footer_section p{
    margin-bottom: 0rem;
}
.follow_us .socialLinks{
    display: flex;
    gap: 20px;
    padding-top: 20px;
}
.follow_us .links{
    width: 30px;
    height: 30px;
    background: #98fb98;
    text-align: center;
    border-radius: 5px;
}
.follow_us .links:hover {
    background-color: #011a37;

}
.follow_us .links a{
    color: #011a37;
}
.follow_us .links a:hover{
    color: #98fb98;
}
.bottom_footer{
     padding-top: 10px;
  
}
.footer_logo, .footer_logo:hover{
    line-height: 1;
    color: #fff;
    font-weight: 700;
    font-size: 23px;
}
.bottom_footer_right{
    display: flex;
    justify-content: center;
    gap: 35px;
}
.bottom_footer_right p{
    margin-top: 1rem;
}
.bottom_footer_right p a{
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 15px;
}
.bottom_footer_right p a:hover{
    color: #fff;
}
/* ================Footer css end================== */

/* ================Staking css start================== */
.staking_cards{
    background: #f2f2f2;
    padding: 50px 0px;
}
.staking_title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.staking_subTitle{
    text-align: center;
    color: gray;
    font-size: 14px;
}
.staking_container, .statistics_container{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6em;
    border-radius: 20px;
    padding: 32px;
    margin: 10px;
    box-shadow: none;
    background: #fff;
    color: rgb(122, 138, 160);
    border: 1px solid #e6ebee;
}
.staking_selection{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 35px;
}
.staking_selection label{
    font-size: 16px;
    color: #03254b;
}
.amount_div{
    border: 1px solid #ced4da;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    padding: 3px;
    margin-top: 10px;
}
.amount_div input[type="text"]{
    width: 90%;
    background-color: transparent;
    border: none;
}
.amount_div input[type="text"]:focus{
    box-shadow: none;
}
.month_dropdown .form-select{
    padding: 9px;
} 
.max_div{
    background: #97bae2;
    padding: 8px 10px;
    color: black;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.8;
}
.max_div:hover{
    opacity:1;
}
.connect_btn{
    margin-top: 15px;
    background-color: #093c77;
    border-radius: 3px;
}
.connect_btn .connect_wallet_btn{
    color: #fff;
    font-weight: 500;
    padding: 9px;
    
}
.token1{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
.help_icon{
    font-size: 18px;
}

.statistics_section .head{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.statistics_title{
    font-size: 20px;
    font-weight: 500;
}
.view_bscScan a{
    text-decoration: none;
    font-size: 13px;
    display: block;
    padding-top: 4px;
}
.right_div.grin{
    color: #2cb414;
}
/* ================Staking css end================== */

/* ================UnStaking css start================== */
.unStaking_section{
    background: #f2f2f2;
    padding: 50px 0px;
}
.unStaking_title{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}
.unStaking_title.blue{
    color: #093c77;
}
.unStaking_table{
    border-radius: 20px;
    padding: 32px;
    margin: 10px;
    box-shadow: none;
    background: #fff;
    /* color: rgb(122, 138, 160); */
    border: 1px solid #e6ebee;
}

.unStaking_table .head{
    background-color: #093c77;
}
.unStaking_table .head .head_title{
    color: #fff;
    padding: 5px;
}
.unStaking_table table tbody tr:last-of-type {
    border-bottom: 3px solid #093c77;
}
.unStaking_table .unStake_btn{
    width: auto;
    box-shadow: none;
    border: none;
    padding: 5px;
    border-radius: 7px;
    background-color: #4577b1;
    color: #fff !important;
    font-weight: 500;
    border: 3px solid #3e6ca1;
}
.unStake_modal .modal-content{
    border-radius: 0.7rem;
}
.unStake_modal .modal-header{
    border-bottom: none;
}
.unStake_modal .modal-body{
    padding-top: 0rem;
}
.unStake_modal .unStake_details .unStake{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
.unStake_modal .unStake_details .unStake .title{
    font-weight: 600;
}
.unStake_modal .unStake_details .unStake_connectWallet_btn{
    background-color: #093c77;
    border-radius: 3px;
    color: #fff;
    font-weight: 500;
    padding: 9px;
}
/* ================UnStaking css end================== */


/* ================Media Query css start================== */
@media screen and (max-width: 767px){
    .header .nav-link.stake_btn{
        width: 50%;
        text-align: center;
    }
    .header .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0%;
        left: 0px;
        width: 20%;
        height: 3px;
        background: #98fb98;
        display: block;
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
        transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
      }
    .total_token_div{
        margin-top: 28px;
        display: flex;
        flex-direction: column;
        gap: 11px;
    }
    .about_text_container {
        text-align: center;
        padding: 27px;
        background: #093c77;
        color: #fff;
        margin-top: 0px;
    }
    .home_section {
        width: 100%;
        min-height: 635px;
    }
    .content .head h1 {
        font-size: 34px;
    }
    .content .bottom_head h6 {
        font-size: 19px;
    }
    .content .top_head p {
        font-size: 15px;
    }
    .howItWorks_card .card_container {
        padding: 0px 15px;
    }
    .contact_img img {
        height: auto;
    }
    .bottom_footer_right{
        display: flex;
        justify-content: flex-start;
        gap: 35px;
    }
}


@media (min-width:768px) and (max-width: 1020px){
    .header .nav-link.stake_btn{
        width: 25%;
        text-align: center;
    }
    .header .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0%;
        left: 0px;
        width: 10%;
        height: 3px;
        background: #98fb98;
        display: block;
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
        transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
      }
}
/* ================Media Query css end================== */